@import-normalize;
@import url('sanitize.css');

/* fonts:
GILROY light reg extrabold
DINPro 
*/

@font-face {
  font-family: 'GilroyLight';
  src: url('./assets/fonts/Gilroy-Light.woff') format('woff');
}
@font-face {
  font-family: 'GilroyRegular';
  src: url('./assets/fonts/Gilroy-Regular.woff') format('woff');
}
@font-face {
  font-family: 'GilroyExtraBold';
  src: url('./assets/fonts/Gilroy-ExtraBold.woff') format('woff');
}

/* @font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot');  IE9 Compat Modes 
  src: url('webfont.eot?#iefix') format('embedded-opentype'),  IE6-IE8 
       url('webfont.woff') format('woff'),  Modern Browsers 
       url('webfont.ttf')  format('truetype'), Safari, Android, iOS 
       url('webfont.svg#svgFontName') format('svg');  Legacy iOS 
} */

.container {
  /* width: 100px; */
  height: 100vh;
  border: 1px solid #ccc;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

.slide {
  min-width: 100vw;
  padding: 100px;
  background-color: paleGreen;
  color: black;
  font-size: 30px;
}

.slide:nth-child(even) {
  background-color: lightblue;
}

.header {
  position: absolute;
  z-index: 10;
  top: 0;
}

.title {
  font-size: 29.691px;
  font-family: 'GilroyLight';
  color: black;
  text-transform: uppercase;
  line-height: 1.073;
  text-align: left;
}
